html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/page_background.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    padding: 30px;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

h1 {
    font-family: 'Game of Thrones';
    font-weight: 300;
}

.got {
    font-family: 'Game of Thrones';
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: #ffffff url('../img/content_background.png');
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transform: rotateY(0deg);
}

.deck .card.open {
    background: rgba(46, 61, 73, 0.5);
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.flip {
    transform: rotateY(360deg);
    transition: 0.6s;
    transform-style: preserve-3d;
    border-radius: 8px;
}

.deck .card.match {
    cursor: default;
    background: #000000;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
    color:#ffffff;
    font-size: 1rem;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.rating .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.rating .stars li {
    list-style: none;
    display: inline-block;
}

.timer {
    padding: 30px;
    font-size: 1rem;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background: #ffffff url('../img/content_background.png');
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    animation-name: animatetop;
    animation-duration: 0.4s;
    justify-content: center;
    text-align: center;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@font-face {
    font-family: 'Game of Thrones';
    src: url('fonts/GameofThrones.eot');
    src: url('fonts/GameofThrones.eot?#iefix') format('embedded-opentype'),
        url('fonts/GameofThrones.woff2') format('woff2'),
        url('fonts/GameofThrones.woff') format('woff'),
        url('fonts/GameofThrones.ttf') format('truetype'),
        url('fonts/GameofThrones.svg#GameofThrones') format('svg');
    font-weight: normal;
    font-style: normal;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #000000;
}


.play-again {
    background: #2e3d49;
    border-color: #2e3d49;
    color: #ffffff;
    font-family: 'Game of Thrones';
}

.play-again:hover {
    background: rgba(46, 61, 73, 0.5);
    border-color: rgba(46, 61, 73, 0.5);
    color: #ffffff;
    font-family: 'Game of Thrones';
}